<div class="footer-container">

    <div class="back-to-top">

        <img class="arrows-img" (click)="scrollToSection('top')" src="ic_baseline-double-arrow.svg" >

        <span class = "help-text" (click)="scrollToSection('top')" >BACK TO TOP</span>

    </div>

    <div class="contact-buttons">
        <a href="https://t.me/mmiisssha" target="_blank" class="contact-btn"><img class="contact-img" src="telegram.svg"></a>
        <a href="https://www.linkedin.com/in/михайло-куриця-a22286282" target="_blank" class="contact-btn"><img class="contact-img" src="linkedin.svg"></a>
        <a href="https://github.com/hotl1ne" target="_blank" class="contact-btn"><img class="contact-img" src="gitgub.png"></a>
    </div>

    <div class="rights">

        <span class = "rights-text">&#64; 2024 Mykhailo Kurytsia All Rights Reserved.</span>

    </div>

</div>