<div class="header-container">
    <nav class="navigation-menu" [class.active]="menuOpen">
        <li class="navigation" (click)="scrollToSection('about'); toggleMenu()">About me</li>
        <li class="navigation" (click)="scrollToSection('skills'); toggleMenu()">Skills</li>
        <li class="navigation" (click)="scrollToSection('projects'); toggleMenu()">Projects</li>
        <a href="https://t.me/mmiisssha" target="_blank" class="contact" (click)="toggleMenu()">Contact me</a>
    </nav>

    <div class="burger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
