<div class="project-card-container">

    <div class="project-card">

        <img src="photo_2025-02-01_21-26-11.jpg" alt="project">

        <div class="overlay-container">

            <div class="centred-container">

                <div class="work-container">

                    <span>Coded, no mobile</span>
    
                </div>
    
                <div class="project-name-container">
    
                    <h3>NFT-Market</h3>
                    <p>Place for selling or buying NFT`s</p>
    
                </div>
    
                <div class="buttons-container">
    
                    <a href="https://nft-market-one-psi.vercel.app/" target="_blank">Demo</a>
                    
                    <a href="https://github.com/hotl1ne/NFT-Market" target="_blank">Code</a>

                </div>

            </div>

        </div>

    </div>

</div>