<div class="project-card-container">

    <div class="project-card">

        <img [src]="project?.photoUrl" alt="project">

        <div class="overlay-container">

            <div class="centred-container">

                <div class="work-container">

                    <span>{{project?.work}}</span>
    
                </div>
    
                <div class="project-name-container">
    
                    <h3>{{project?.name}}</h3>
                    <p>{{project?.description}}</p>
    
                </div>
    
                <div class="buttons-container">
    
                    <a [href]="project?.demoUrl" target="_blank">Demo</a>
                    
                    <a [href]="project?.codeUrl" target="_blank">Code</a>

                </div>

            </div>

        </div>

    </div>

</div>